body {
    margin: 0;
    padding: 0;
    background-color: #172323;
    font-family: Arial, sans-serif;
   
}

.h1-title {
    text-align: left; /* Centraliza o texto horizontalmente */
    margin-left: 15px; /* Espaçamento acima e abaixo do título */
}



.area-botoes {
    display: flex;
    justify-content: flex-end; /* Move todos os botões para a direita */
    gap: 10px; /* Espaço entre os botões */
    padding: 10px; /* Espaçamento interno */
   
}
.btn-cancelar{
    background-color: white;
    border: none; 
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


/*altera o fundo da tela pix e cartao*/
.principal {
    display: flex;
    flex-direction: column; /* Garante que a área vai empilhar os elementos */
    justify-content: space-between; /* Espaçamento entre o QR Code e os botões */
    height: calc(100vh - 20px);
    background-color: #D9D9D9;
    margin: 0;
    padding: 10px 0;
    overflow-x: hidden;
}


/*CSS da pagina Pix*/


.container-qrcode{
    text-align: center;
    border: solid 2px black;
    background-color: white; 
    height: 450px; /* Aumenta a altura das áreas externas */
    margin: 10px;
    padding-top: 30px; /* Adiciona espaçamento interno no topo */
}


.btn-copiar{
    background-color: white; 
    color: rgb(5, 3, 3); 
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px; 
    margin-top: 42px; 
    transition: background-color 0.3s ease;
}

.btn-cancel{
    background-color: white;
    border: none;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 42px; 
    transition: background-color 0.3s ease;
}


.btn-cancel:hover{
    background-color: #b46557; 
}

.btn-copiar:hover {
    background-color: #45a049; 
}


/* Ajustes para telas menores */
@media (max-width: 768px) {

    

    .area_externa {
        flex-direction: column;
        gap: 10px;
    }

    .metodo-pagamento, .resumo-compra {
        width: 100%; 
        max-width: 100%;
    }

    .submit-btn, .cancel-btn {
        width: 100%;
    }
    
}