
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #172323;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1
{
    color: #ffffff;
}
h2{
    color: #172323;
}
h3{
    color: #172323;
}


h1 {
    text-align: center;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

.highlight {
    color: orange;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #172323;
    color: white;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    header h1 {
        font-size: 24px;
    }
    .container {
        padding: 0 0.5rem;
    }
    section ul li {
        font-size: 14px;
        line-height: 1.4;
    }
}

.texto-superior-esquerdo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #000;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }
  
  .texto-superior-esquerdo a {
      color: white;
      text-decoration: none;
  }
  
