* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../imagens/minhas_rotas/image3771.png') no-repeat center center fixed;
  background-size: cover;
  color: #000;
}

.container {
  width: 100%; 
  padding: 20px;
  border-radius: 10px;
}

header .back-link {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 16px;
}

main h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Inclusive Sans', sans-serif; 
}

.rotas-table {
  width: 100%;
  border-collapse: collapse; 
  border: 1px solid #000;
  font-family: 'Inclusive Sans', sans-serif; 
}

.table-header {
  background-color: #172323;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  padding: 10px;
  font-family: 'Inclusive Sans', sans-serif;
}

.table-row a {
  text-decoration: none;
  color: inherit; 
}


.buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Inclusive Sans', sans-serif; 
}

.details {
  background-color: #4caf50;
  color: #fff;
}

.cancel {
  background-color: #f44336;
  color: #fff;
}

.texto-superior-esquerdo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #000;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.texto-superior-esquerdo a {
  text-decoration: none;
  color: inherit; 
}

.titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 80px;
  color: #000;
  font-family: 'Inclusive Sans', sans-serif; 
}

.rotas-table {
  width: 100%; 
  margin: 0; 
}



/* Responsivo */
  
@media (max-width: 768px) {
  .table-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .table-cell {
    width: auto;
    padding: 10px;
    text-align: left;
  }

  .buttons {
    justify-content: flex-end;
    gap: 10px; 
  }
}